//About html
.about-wrapper{
    padding: $padding*2 $padding;
   
    // about-article 
    .about-article{
        h1{
            text-align: center;
            font-size: 1.7em;
        }
        p {
            padding: 0px $padding;
        }
    }   // end of about-article

    //sec process
    .process{
        padding-top: $padding*2;

        h1{
            font-size: $title;
            text-align: center;
            margin-bottom: 10px;
        }

        .border{
            @include title-underline;
            padding-bottom: $padding;
        }
        .process-container{
            .process-wrapper{
                .process-img{
                    width: 100%;
                    height: 300px;
                    @include bg-img;
                    @include mq($phoneLandscape){
                      max-height: 200px;
                    }
                    @include mq($tabletLandscape){
                    max-height: 250px;
                    } 
                }  // end of .process-img
                    .planning{
                        background-image: url(../images/about/process-01.jpg);
                    }  
                    .custermizing{
                        background-image: url(../images/about/process-02.jpg);
                    }
                    .making{
                        background-image: url(../images/about/process-03.jpg);
                    }
                    .sending{
                        background-image: url(../images/about/process-04.jpg);
                    }
                h2{
                    text-align: center;
                    padding-top: $padding;
                    font-size: 1.35em;
                    color:$brand-color;

                    @include mq($tabletLandscape){
                        font-size: 1.2em;
                    }
                }
                p{
                    @include mq($phoneLandscape){
                        padding: 5px;
                        font-size: 0.8em;
                    }
                    @include mq($tabletLandscape){
                        font-size: 0.9em;
                    }
                }
            }  //end of  .process-wrapper

            @include mq($phoneLandscape){
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
            }
        }  //end of  .process-container
    }  //end of  .process

}  //end of .about-wrapper