.banner{
    @include mq($phoneLandscape){
        display:flex;
         }
}

.banner-img {
    width: 100%;
    height: 350px;
    background-color: $img-bg-color;
    @include mq($tabletLandscape){
        height:400px;
    }
    @include mq($desktopMedium){
        height:500px;
    }
}

.banner-title{
    h1{
        text-align:center;
        line-height: 350px;
        @include mq($tabletLandscape){
            line-height:400px;
        }
        @include mq($desktopMedium){
            line-height:500px;
            font-size:2.5em;
        }
    }
}

.banner-text {
    padding: $padding;
    @include gradient(180deg, $list2);
    h1{
        font-size: 1.5em;
    }

    p{
        margin: 2em 0;
    }
    @include mq($phoneLandscape){
        width:50%;
        line-height: 0.9;
    }

    
   
}