.banner{
    position: relative;
    @include mq($phoneLandscape){
        display: grid;
        grid-template-columns: 1fr 1fr;
     }
     @include mq($desktopLarge){
         grid-template-columns: 1fr;
         grid-template-rows: 1fr;
     }
}

.banner-img {
    width: 100%;
    height: 400px;
    background-image: url(../images/home/m-home-banner-girl.jpg);
    @include bg-img;
    background-position: 35% 50%;
    @include mq($phoneLandscape){
        order: 2;
    }
    @include mq($tabletLandscape){
        height:400px;
    }
    @include mq($desktopMedium){
        height:500px;
    }
    @include mq($desktopLarge){
        background-image: url(../images/home/home-banner-girl.jpg);
        height: 60vh;
    }
}

.banner-title{
    h1{
        text-align:center;
        line-height: 350px;
        @include mq($tabletLandscape){
            line-height:400px;
        }
        @include mq($desktopMedium){
            line-height:500px;
            font-size:2.5em;
        }
    }
}

.banner-wrapper{
    background-color: #02D9FE;
    .banner-text {
        padding: $padding 40px;
        h1{
            font-size: 2em;
        }
        @include mq($phoneLandscape){
            line-height: 1.2;
            align-self: end;
            justify-self: center;
            padding: 30px 20px;
            
        }
        @include mq($desktopLarge){
            width:100%;
            text-align: center;
        }
         
    }
    .banner-btn{
        width:100%;
        text-align: center;
        background-color: $brand-color;
        padding:20px 0;
        a{
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        
        }
        @include mq($phoneLandscape){
            width: 60%;
            height: 60px;
            justify-self: center;
        } @include mq($desktopLarge){
            justify-self: center;
        }
    }
    @include mq($phoneLandscape){
        display:grid;

    }
    @include mq($desktopLarge){
        position: absolute;
        top: 10vh;
         left: 30vw;
         height: 40vh;
         width: 20vw;
    }
}

//products.html Styling
.p-banner{
    grid-template-columns: 60% 41%;;
.product-bn-img{
    background-image: url(../images/product/product-banner.jpg);
    order:1;
    @include mq($phoneLandscape){
        height: 40vh;
    } 
    @include mq($tabletLandscape){
        height: 50vh;
    }
    @include mq($desktopMedium){
        height: 60vh;
    }
    
}

.product-bn-wrapper{
    background-color:#CEFDD2;
    color:$brand-ppl-color;
    text-align: center;
        @include mq($phoneLandscape){
            order:2;
            display: grid;
        .product-bn-text{
            align-self: center;
        }
        }
        @include mq($desktopLarge){
            position: initial;
            height: 100%;
            width:100%;
        }
    }  
    
    @include mq($phoneLandscape){
        height: 40vh;
    } 
    @include mq($tabletLandscape){
        height: 50vh;
    }
    @include mq($desktopMedium){
        height: 60vh;
    }

}
  //About.html banner styling
   .about-banner{
    .about-bn-img{
        background-image: url(../images/about/m-about-banner-women.jpg);
        @include bg-img;
        background-position: 43% 50%;
    }
    .about-bn-wrapper{
        background-color: #2C223D;
        color: $text-color-light;
    }
}

