.banner{
    @include mq($phoneLandscape){
        display:flex;
         }
}

.banner-img {
    width: 100%;
    height: 400px;
    background-image: url(../images/home/m-home-banner-girl.jpg);
    @include bg-img;
    background-position: 35% 50%;
    @include mq($tabletLandscape){
        height:400px;
    }
    @include mq($desktopMedium){
        height:500px;
    }
}

.banner-title{
    h1{
        text-align:center;
        line-height: 350px;
        @include mq($tabletLandscape){
            line-height:400px;
        }
        @include mq($desktopMedium){
            line-height:500px;
            font-size:2.5em;
        }
    }
}

.banner-text {
    padding: $padding 40px;
    background-color: #02D9FE;
    h1{
        font-size: 1.5em;
    }
    
    @include mq($phoneLandscape){
        width:50%;
        line-height: 0.9;
    }
}
.banner-btn{
    width:100%;
    text-align: center;
    background-color: $brand-color;
    padding:20px 0;
    a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    
    }
}