/* Contact page styles */

// Typography Styles
// Google Fonts
@import url("https://use.typekit.net/xhq6yxp.css");


// Fieldset reset
fieldset {
    margin: 0;
    padding: $padding;
    border: none;
    .half{
        @include mq($tabletLandscape){
        display: grid;
        @include grid50;
        grid-template-rows:30px 1fr;
        grid-column-gap: 50px;
        #name{
            order: 3;
        }
        #mail, 
        #message{
            order:4;
        }
        #subject{
            align-self: start;
        }
    }
}
    
}
// Styles
.c-wrapper {
    padding: $padding*2 $padding;

        .contact {
            p {
                font-family: $futura;
                font-weight: 400;
                text-align: center;
            }
            p:first-child{
                padding: $padding;
            }
            p:not(:first-child){
                padding-top: $padding/4;
            }
            span {
                color: $btn-pink
            }
            .cf {
                max-width: 700px;
                margin: 0 auto;
            
                input, textarea, select {
                    border: 0;
                    outline: 0;
                    padding: 0.5em 0;
                    margin-bottom: 30px;
                    width: 100%;
                    resize: none;
                    font-size: 1em;
                    font-family: $futura;
                    letter-spacing: $letterspace;
                }
            
                .c-name,
                .c-email,
                .c-subject {
                    border-bottom: 1px solid $brand-color;
                }
            
                textarea {
                    border: 1px solid $brand-color;
                    padding: 0.5em;
                    margin-top: 10px;
            
                }
            
                label {
                    display: block;
                    font-size: 1.1em;
                    letter-spacing: $letterspace; 
                    font-family: $condor;
                }

                .subject{
                    margin-bottom: 0.5em;
                }
            
                .custom-dropdown{
                    position: relative;
                    display: inline-block;
                    width:100%;
                    margin-bottom: 30px;
                select {
                    color: gray;
                    background-color: white;
                    border-radius: none;
                    appearance: none;
                    -moz-apperance: none;
                    -webkit-appearance: none;
                    outline: none;
                    margin: 0;
                    border: 1px solid $brand-color;
                    border-radius: 0;
                    padding-left: 15px;

                 }
                 select::-ms-expand {
                    display: none;
                }
                
                 @include mq ($tabletPortrait){
                    order: 3;
                    margin-top: 10px;
                }
             }
             .custom-dropdown::before,
                .custom-dropdown::after {
                content: "";
                position: absolute;
                pointer-events: none;
                }
                .custom-dropdown::after { /*  Custom dropdown arrow */
                    content: "\25BC";
                    height: 1em;
                    font-size: 1em;
                    line-height: 1;
                    right: 1.2em;
                    margin-top: -1.5em;
                    color: $brand-color;
                  }
                
                  .custom-dropdown select[disabled] {
                    color: rgba(0,0,0,.25);
                  }
                input, select, textarea {
                    outline: none;
                }

                //button Styling
                    .c-submit {
                        width: 200px;
                        @include margin-center;
                        text-align: center;
                        padding: 10px;
                        background-color: $brand-navy-color;
                        text-decoration: none;
                        color:$text-color-light;
                        font-weight: 200;
                        text-transform: uppercase;
                        font-family: $futura;
                        align-content: center;
                        letter-spacing: $letterspace;
                        display:block;
                    }
                
            } //end of cf
        }//end of contact
}












