// Footer Styles
footer {
    padding: 0px $padding $padding;
    background-color: #F6F6F6;
    text-transform: uppercase;
    .container{
        @include mq($phoneLandscape){
            max-width:1200px;
            @include margin-center;
        }
    }
    p {
        @include flatten;
    }
    @include mq($phoneLandscape){
        padding:$padding;
    }
    .footer-nav{
        @include flex-layout-row;
        padding: 0 0 $padding/2;

        a{
            font-size: 0.8em;
        }
        @include mq($phoneLandscape){

            max-width: 70%;
            @include margin-center;
        }
    }
    .footer-bottom{
        text-align: center;
        font-size: 0.8em;
        p:first-child{
           padding-bottom: $padding/2;
        }
        p:not(:first-child){
        padding-top: $padding/4;
        }
        
    }
    
}