// Footer Styles
footer {
    padding: 10px $padding $padding;
    p {
        @include flatten;
    }
    
    .footer-nav{
        @include flex-layout-row;
        padding: 0 0 $padding/2;

        a{
            font-size: 1em;
        }
        @include mq($phoneLandscape){
            max-width: 70%;
            @include margin-center;
        }
    }
    .footer-bottom{
        text-align: center;
        font-size: 0.8em;
        p:first-child{
           padding-bottom: $padding/2;
        }
        p:not(:first-child){
        padding-top: $padding/4;
        }
        
    }
}