// Hamburger Styles
.hamburger {

    display: block;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-self: start;

    .hamburger-content {
        display: block;
        height: 16px;
        background-image: url(../images/svg-icons/hamburger-gls.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 30px;
    }
   
    .hm-btn{
        @include btn(-5px, 16px);
                .hm-line1{
                    @include icon(0px, 40px);
                &:before{
                    @include icon-before(2px, 40px, -25px);
                }
                &:after{
                    @include icon-after(2px, 40px, -9px);
                }
                }
            .show &{
                .hm-line1{
                            transition: 0.5s;
                            &:before{
                                transform: rotateZ(30deg) scaleX(1.05) translate(6px, 14px);
                            }
                            &:after{
                              transform: rotateZ(-30deg) scaleX(1.05) translate(2px, 0px);
                            }
                          }
            }
        }
   

    &:focus,
    .hamburger-content:focus {
        outline: none;
    }

    &:focus .hamburger-content {
        outline: 5px solid #7683C9;
    }

    @include mq($phoneLandscape){
        display: none;
    }
    
}