// Hamburger Styles
.hamburger {

    display: block;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-self: start;

    .hamburger-content {
        display: block;
        height: 32px;
        background-image: url(../images/svg-icons/hamburger-open.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

   

    &:focus,
    .hamburger-content:focus {
        outline: none;
    }

    &:focus .hamburger-content {
        outline: 5px solid #7683C9;
    }

    @include mq($phoneLandscape){
        display: none;
    }
    
}