// Hamburger Styles
.hamburger {

    display: block;
    width: 35px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-self: start;

    .hamburger-content {
        display: block;
        height: 16px;
        width: 35px;
        background-image: url(../images/svg-icons/hamburger-gls.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 12px;
    }
   
    .hm-btn{
        @include btn(0px, 0px);
                .hm-line{
                    @include icon(0px, 35px);
                &:before{
                    @include icon-before(2px, 35px, -19px, 0);
                }
                &:after{
                    @include icon-after(2px, 35px, -6px, 0);
                }
                }
            .show &{
                .hm-line{
                            transition: 0.5s;
                            &:before{
                                transform: rotateZ(30deg) scaleX(1.05) translate(6px, 12px);
                            }
                            &:after{
                              transform: rotateZ(-30deg) scaleX(1.05) translate(0px, 1px);
                            }
                          }
            }
        }
   

    &:focus,
    .hamburger-content:focus {
        outline: none;
    }

    &:focus .hamburger-content {
        outline: 5px solid #7683C9;
    }

    @include mq($phoneLandscape){
        display: none;
    }
    
}