// Header styles
header {
    // background-color: $brand-color;
    padding: $padding/2 $padding 0;
    align-items: center;
    position: relative;

    h1 {
        @include flatten;
        width: 3.5em;
        @include mq($phoneLandscape){
            text-align: center;
        }
       
    }

    .hm-nav{
        display: none;
    }

    .m-icon{
        @include m-icon;
        @include bg-img;
        background-size: contain;
        @include mq($phoneLandscape){
            width:30px;
            height: 30px;
        }
    }

    .shopping{
        background-image:url(../images/svg-icons/shopping.svg); 
    }
   
    .search{
        background-image:url(../images/svg-icons/search.svg); 
    }

    .search-bar{
        display:none;
        @include mq($phoneLandscape){
            display:flex;
       }
       .search-input{
           margin-left:10px;
           width:150px;
           border-bottom:1px solid black ;
       }
    }
        .search-form{
            visibility: hidden;
            .visible &{
                visibility: visible;
                .search-input{
                border:1px solid red;
            }
            }
        }
    
    .location-icon{
        background-image:url(../images/svg-icons/location.svg); 
        display:none;
        @include mq($phoneLandscape){
            display:block;
       }
    }
    .account{
        background-image:url(../images/svg-icons/sing-in.svg); 
        display:none;
        @include mq($phoneLandscape){
            display:block;
       }
    }
    

    .top-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        width:100%;
        @include mq($phoneLandscape){
         display:grid;
         grid-template-columns: 1fr 200px 1fr;
        }
    }


     .hm-nav{
            .show &{
            position: absolute;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
        }
        
        
        ul{
            display:grid;
            grid-template-rows: repeat(5, 90px);
            align-items: center;
            padding: 60px 40px 100px;
        }
        li:nth-child(3){
            border-top: 1px solid black;
        }
        li:last-child{
            border-bottom: 1px solid black;
        }
        a{
            text-align: inherit;
            line-height: 90px;
            
        }

     }
     
                .icon3{
                      justify-self: end;
                    a{
                        .m-icon{
                        margin: 0 10px;
                        }
                        &:hover{
                            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(310deg) brightness(100%) contrast(68%);
                        }
                    }
                    @include mq($phoneLandscape){
                        display: flex;
                        .m-icon:not(:last-child){
                            margin-right:20px;
                        }
                    }
                }

     @include mq($phoneLandscape){
         max-width: 1200px;
         @include margin-center
     }

     .bottom-header{
         >nav{
            .gl-nav{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                padding: 10px 0;
                a{
                    &:hover{
                    color: red !important;
                 }
                }
                @include mq($phoneLandscape){
                    max-width: 50%;
                    @include margin-center;
                }
           }           
     }
    }
}