// Header styles
header {
    // background-color: $brand-color;
    padding: $padding/2 $padding;
    align-items: center;
    position: relative;

    h1 {
        @include flatten;
        // color: $text-color-light;
        font-size: 1.6em;
        @include mq($phoneLandscape){
            text-align: center;;
        }
       
    }

    .hm-nav{
        display: none;
    }

    .m-icon{
        @include m-icon;
        @include bg-img;
    }

    .shopping{
        background-image:url(../images/shopping-bag.svg); 
    }
   
    .search{
        background-image:url(../images/search-icon.svg); 
    }

    .search-bar{
        display:none;
        @include mq($phoneLandscape){
            display:flex;
       }
       .search-input{
           margin-left:10px;
           width:150px;
           border-bottom:1px solid black ;
       }
    }
        .search-form{
            visibility: hidden;
            .visible &{
                visibility: visible;
                .search-input{
                border:1px solid red;
            }
            }
        }
    
    .location-icon{
        background-image:url(../images/location.svg); 
        display:none;
        @include mq($phoneLandscape){
            display:block;
       }
    }
    .account{
        background-image:url(../images/account.svg); 
        display:none;
        @include mq($phoneLandscape){
            display:block;
       }
    }
    

    .top-header{
        display:flex;
        justify-content: space-between;
        width:100%;
        padding: 15px 0;
        @include mq($phoneLandscape){
         display:grid;
         grid-template-columns: 1fr 200px 1fr;
        }
    }

    .gl-nav{
      @include flex-layout-row;
      padding: 10px 0;
      @include mq($phoneLandscape){
        max-width: 50%;
        @include margin-center;
         }
    }

    .glass-nav{
        height: 65px;
        width: 90%;
        line-height: 65px;
        text-align: left;
        @include margin-center;
        background-color: #ccc;
        padding: 0 $padding;
        border-radius: 10px;
        margin-top: 15px;
    }

     .hm-nav{
            .show &{
            position: absolute;
            left: 0;
            width: 100%;
            background-color: #fff;
        }
        li:nth-child(3),
        li:nth-child(4),
        li:last-child {
            padding: 10px 0;
        }
     }

     .icon3{
        @include mq($phoneLandscape){
            display: flex;
            justify-content: flex-end;
            .m-icon:not(:last-child){
                margin-right:20px;
            }
        }
     }

     @include mq($phoneLandscape){
         max-width: 1200px;
         @include margin-center;
     }
}