//item.html
.basic-info{
    padding:$padding;
    h1, h2, h3{
        margin: 0;
    }
    .item-info{
        @include grid50;
        grid-template-rows: auto;
        align-items: center;
    }
    .info1{
        font-size: $title;
        color: $brand-ppl-color;
    }
    .info2{
        order:2;
        font-weight: normal;
        font-size: 1em;
        font-family: $century;
    }
    .info3{
        font-size: 1.2em;
        font-weight: normal;
        font-family: $century;
        justify-self: end;
    }
    @include mq($phoneLandscape){
        padding-right: 60px;
    }
    @include mq($tabletLandscape){
        max-width: 900px;
        @include margin-center;
    }
}  //  end of .basic-info

//Item.html - Rotate-image
.one-item{
    padding: 0 $padding $padding;
    .item-container{
        .design-wrapper{
            .rotate-img{
                .item-img{
                    width:100%;
                    height: 200px;
                    background-color: $img-bg-color;
                    @include margin-center;
                }  //  end of .item-img
                .rotate-range{
                    width:100%;
                    height: 50px;
                    @include margin-center;
                    margin-top: 5px;
                    
                    .product_slider {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 25px;
                        background: #d3d3d3;
                        outline: none;
                        opacity: 0.7;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                        border-radius: 50px;
                    }

                    .product_slider::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 30px;
                        height: 30px;
                        background: $brand-ppl-color;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    .product_slider::-moz-range-thumb {
                        width: 25px;
                        height: 25px;
                        background: $light-purple;
                        cursor: pointer;
                    }

                } //  end of .rotate-range
            } //  end of .rotate-img

            .selection{
                display: grid;
                grid-gap: 30px;
                padding: $padding 0;

                .form-group-lense{
                    padding-bottom: 30px;
                }
                .form-group-lense input:checked+ label, .form-group-lense input:focus + label {
                    border: 2px solid $brand-ppl-color;
                    border-radius:50%;
                }
                .choices{
                    display: grid;
                    grid-template-columns: 25% 1fr 1fr 1fr;
                    align-items: center;
                    // justify-items: center;
                    grid-gap: 10px;
                    h2{
                        padding: 0;
                        font-size: 1em;
                        margin: 0;
                        color: $brand-ppl-color;
                        font-family: $condor;
                    }
                    .lenses-choice-wrapper,
                    .frame-choice-wrapper {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .lenses-choice-wrapper{
                        .ls-choice-form{
                            position: relative;
                            input{
                                width: 50px;
                                height: 50px;
                            }
                            label{
                                position: absolute;
                                top: 3px;
                                left: 2px;
                                width: 50px;
                                height: 50px;
                               
                             .circle{
                                    display: block;
                                    width:100%;
                                    height: 100%;
                                    border: 1px solid #dadada;
                                    border-radius: 50%;
                                }
                             .circle-blue{
                                @include gradient(180deg, $lense1);
                             }
                             .circle-pink{
                                @include gradient(180deg, $lense2);
                             }
                             .circle-black{
                                @include gradient(180deg, $lense3);
                             }
                            }
                            
                        }
                    }

                    .frm-choice-form input:checked+ label, .frm-choice-form input:focus + label {
                        border: 2px solid $brand-ppl-color;
                      
                    }

                    .frame-choice-wrapper {
                        .frm-choice-form{
                            position: relative;
                            input{
                                opacity: 0;
                                position: fixed;
                                width: 0;
                                
                            }   
                             label{
                                    display: inline-block;
                                    // background-color: red;
                                    // position: absolute;
                                    // top: 3px;
                                    // left: 2px;
                                    width: 40px;
                                    height: 10px;
                                    padding: 4px;
                                    border: 1px solid #dadada;
                                }
                                .frm-rosegold{
                                    background-color: #c59184;
                                 }
                                .frm-gold{
                                    background-color: #d6bb6b;
                                 }
                                 .frm-black{
                                    background-color: #1A1A1A;
                                 }   
                                
                           
                        }
                    } 
                    
                }  ////  end of .choise

                .frame-choice{
                    padding-top:0;
                }  //  end of .frame-choice


//Gift choice styling
                .gift-choice{
                    display: grid;
                    grid-template-columns: 25% 1fr;
                    align-items: start;
                    grid-gap: 20px;
                    .checkbox-style{
                        justify-self: self-start;
                        position: relative;
                        input{
                            visibility: hidden;   
                        }

                    }
                    .checkbox-style label:before {
                        content:"";
                        position: absolute;
                        width:15px;
                        height: 15px;
                        top: 5px;
                        left: 0px;
                        background-color: #EBE7FF;
                        border: 1px solid #dadada;
                      }
                      .checkbox-style input:checked + .checkbox-style label:before {
                        font-family: "Font Awesome"; 
                        content: "\f00c";
                        color: #bbb;
                    }
                      
                    
                    h2{
                        padding-top:0;
                    }
                }  //  end of .gift-choice
                @include mq($phoneLandscape){
                    padding-top: 0;
                }
            }  //  end of .selection
            @include mq($phoneLandscape){
                display: grid;
                grid-template-columns: 65% 30%;
                grid-gap: 10px;
            }
            @include mq($tabletLandscape){
                grid-gap: 4%;
            }
        }  //  end of .design-wrapper

        //item.html -- item details 
        .description{
            .item-detail{
                .detail-wrapper{
                    display:grid;
                    grid-template-columns: 35% 1fr;
                    align-items: center;

                    h2{
                        font-size: 1em;
                        color: $brand-ppl-color;
                        font-family: $condor;
                    }
                    h3{
                        font-size: 1em;
                        font-family: $condor;
                        font-weight: normal;
                    }
                    .star-wrapper{
                        display: flex;
                        .star-img{
                            width:20px;
                            height:20px;
                            background-image: url("../images/star.png");
                            background-repeat: no-repeat;
                            background-size: cover;
                            filter:brightness(0.5) sepia(1) hue-rotate(205deg) saturate(77.5) brightness(70%);
                        }  //  end of .star-img
                        .grey-star{
                            filter:grayscale(1);
                        }
                    }       //  end of .star-wrapper
                }  //  end of .detail-wrapper
            }  //  end of .item-detail
            @include mq($phoneLandscape){
                display:grid;
                grid-gap: 5%;
                grid-template-columns: 50% 45%;            
            }
        }   //  end of .desctiprion
    } //  end of .item-container
    @include mq($tabletLandscape){
        max-width: 900px;
        @include margin-center;
    }
} //end of .one-item
//itml.html - sec suggestion
.suggestion{
    padding: $padding 0;
    background-color: #fafafa;
    .suggestion-text{
        padding: 0 $padding;
                h1{
                    text-align: center;
                    margin-bottom: 5px;
                }
                p{
                    // width: 280px;
                   @include margin-center;
                    text-align: center;
                    padding-bottom: 20px;
                }
                span{
                    font-weight:bold;
                    color: $brand-color;
                }
                .border{
                    @include title-underline;
                    @include margin-center;
                    padding-bottom: $padding;
                }
        } //  end of .suggestion-text 
    .styles-wrapper{
       
             .suggestion-list{
                 padding:0 $padding;
                 .style-img {
                        @include bg-img;
                        @include margin-center;
                        // width: 60%;
                        height: 200px;

                 }  //  end of .style-img
               .gl-s-img-01{
                   background-image: url('../images/product/product-sg-02.jpg');
                }
                .gl-s-img-02{
                    background-image: url('../images/product/product-sg-03.jpg');
                 }
                 .gl-s-img-03{
                    background-image: url('../images/product/product-sg-04.jpg');
                 }
                 .gl-s-img-04{
                    background-image: url('../images/product/product-sg-05.jpg');
                 }
                 .gl-s-img-05{
                    background-image: url('../images/product/product-sg-06.jpg');
                 }
                 .gl-s-img-06{
                    background-image: url('../images/product/product-sg-06.jpg');
                 }

                 .slick-prev {
                    left: 8px;
                    z-index: 2;
                }
        
                .slick-next {
                    right: 25px;
                }
        
                .slick-prev:before, .slick-next:before {
                    font-size: 35px;
                    color: $brand-color;
                }
                .slick-dots {
                    right: 0;
                }
                     
             }//  end of .styles-gallery
      }    //  end of .styles-wrpper
    @include mq($phoneLandscape){
        p{
            text-align: center;
        }
    } //  end of .suggestion mq tablet
} //  end of .suggestion