// Main Navigation Styles
nav {
    // locally scoped variable
    $height: 40px;
    $border: 1px solid white;
    
    // background-color: $brand-color-dark;
    // display: none;

    .show & {
        display: flex;
        flex-direction: column;
        z-index:2;
    }

    ul {
        @include flatten;
        list-style: none;
    }

    a {
        display: block;
        line-height: 50px;
        line-height: $height;
        text-align: center;
        font-size: 1em;
        text-decoration: none;
        outline: none;
        text-transform: uppercase;
        color:black;
        
        #{$link-hover-selector} {
             color:white;
            background: linear-gradient($list3);
            -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;  
        }
         
       }
       .gl-nav{
           a{
               &:hover{
                   background: none;
                   -webkit-text-fill-color: $brand-color;
                    color: $brand-color;
            }
           }
       }
 
}