// Main Navigation Styles
nav {
    // locally scoped variable
    $height: 40px;
    $border: 1px solid white;
    
    // background-color: $brand-color-dark;
    // display: none;

    .show & {
        display: flex;
        flex-direction: column;
    }

    ul {
        @include flatten;
        list-style: none;
    }

    a {
        display: block;
        line-height: 50px;
        border-top: $border;
        line-height: $height;
        text-align: center;
        font-size: 1em;
        text-decoration: none;
        outline: none;
        text-transform: uppercase;;
        
        #{$link-hover-selector} {
            background-color: rgba(white, 0.3);
        }
            //testing
            
       }

}