    //products.html
    .p-gls-choice{
        // padding: $padding*2 $padding;
        padding-bottom: $padding;
        .eg-wrapper,
        .sg-wrapper {
            padding-bottom: $padding*2;
        }
        .choice{
            @include mq($phoneLandscape){
                max-width: 100%;
            }
        }
        .p-choice{
            margin: 0;
            h1{
                margin-bottom: 10px;
            }
        }
            p{
            width: 90%;
            margin: 0 auto;
            max-width: 400px;
            }
        .border{
            @include title-underline;
            padding-bottom:20px;
        }

        
        .p-container{
            padding: $padding;
            .product-wrapper{
                text-align: center;
                .p-img{
                        height: 200px;
                        @include bg-img;
                        @include margin-center;
                        @include mq($phoneLandscape){
                            width: 300px;
                            height: 200px;
                         }
                 }  //  end of .p-img

                 //eyeglasses-img
                 .eg-img-01{
                     background-image: url(../images/product/product-eg-01.jpg);
                 }
                 .eg-img-02{
                     background-image: url(../images/product/product-eg-02.jpg);
                 }
                 .eg-img-03{
                     background-image: url(../images/product/product-eg-03.jpg);
                 }
                 .eg-img-04{
                     background-image: url(../images/product/product-eg-04.jpg);
                 }
                 .eg-img-05{
                     background-image: url(../images/product/product-eg-05.jpg);
                 }
                 .eg-img-06{
                     background-image: url(../images/product/product-eg-06.jpg);
                 }

                 //sunglasses-img
                 .sg-img-01{
                    background-image: url(../images/product/product-sg-01.jpg);
                }
                 .sg-img-02{
                    background-image: url(../images/product/product-sg-02.jpg);
                }
                 .sg-img-03{
                    background-image: url(../images/product/product-sg-03.jpg);
                }
                 .sg-img-04{
                    background-image: url(../images/product/product-sg-04.jpg);
                }
                 .sg-img-05{
                    background-image: url(../images/product/product-sg-05.jpg);
                }
                 .sg-img-06{
                    background-image: url(../images/product/product-sg-06.jpg);
                }

                h3{
                margin: 10px 0 0 0;
                font-size: 1.2em;
                }
                h4{
                    font-weight: normal;
                    }
                }  //  end of .product-wrapper
            
                .product-3{
                    display: none;
                    @include mq($phoneLandscape){
                       display:block;
                    }
                }  //  end of .product-3

               
                @include mq($phoneLandscape){
                  @include grid50;
                  grid-gap: 10px;
                   justify-content: center;

                }
                @include mq($tabletLandscape){
                    grid-template-columns: repeat(3, 33%);
                 }
         }  //  end of .p-container   
                .p-container:last-child{
                    padding-bottom: $padding;
                }
                @include mq($phoneLandscape){
                    grid-template-columns: 1fr;
                }
                .see-more-btn{
                    margin-bottom:$padding*2;
                }
}  //  end of .p-gls-choice


//products.html - sec suggestion
.suggestion{
    padding: $padding 0;
    background-color: #fafafa;
    .suggestion-text{
        padding: 0 $padding;
                h1{
                    text-align: center;
                    margin-bottom: 5px;
                }
                p{
                    // width: 280px;
                   @include margin-center;
                    text-align: center;
                    padding-bottom: 20px;
                }
                span{
                    font-weight:bold;
                    color: $brand-color;
                }
                .border{
                    @include title-underline;
                    @include margin-center;
                    padding-bottom: $padding;
                }
        } //  end of .suggestion-text 
    .styles-wrapper{
        position: relative;
             .gallery-arrow {
                 width: 30px;
                 height: 30px;
                 background-image: url("../images/slide-arrow.svg");
                 background-repeat: no-repeat;
             }   //  end of .gellery-arrow
             .arrow-left {
                 position: absolute;
                 left: 0;
                 top: 43%;
                 @include mq($phoneLandscape){
                     top:50%;
                 }
             }  //  end of .arrow-left
             .arrow-right{
                 transform: rotate(180deg);
                 position: absolute;
                 right: 0;
                 top: 43%;
                 @include mq($phoneLandscape){
                     top: 50%;
                 }
             }   //  end of .arrow-right
             .style-gallery{
                 .style-img {
                        @include bg-img;
                        @include margin-center;
                        width: 80%;
                        height: 200px;
                        // background-color: $img-bg-color;
                        background-image: url(../images/product/product-sg-05.jpg);
                        background-repeat: no-repeat;
                        @include margin-center;
                        @include mq($phoneLandscape){
                            margin: 0;
                        }
                        @include mq($tabletLandscape){
                          width:100%;
                        }
                     
                     }  //  end of .style-img
                 .style-img:nth-child(2),
                 .style-img:nth-child(3){
                     display:none; 
                     }
                     .style-img:nth-child(2){
                         @include mq($phoneLandscape){
                             display:block;
                             justify-self: start;
                         }
                     }

                     .style-img:nth-child(3){
                         @include mq($tabletLandscape){
                             display:block;
                         }
                     }

                     @include mq($phoneLandscape){
                        @include grid50;
                       grid-gap: 10px;
                       justify-items: end;

                     }
                     
                     @include mq($tabletLandscape){
                         grid-template-columns: repeat(3, 33%);
                         max-width: 900px;
                         @include margin-center;
                      }

                     
             }//  end of .styles-gallery
      }    //  end of .styles-wrpper
    @include mq($phoneLandscape){
        p{
            text-align: center;
        }
    } //  end of .suggestion mq tablet
} //  end of .suggestion


//styles styling
.styles{
    text-align: center;
    padding: 30px 0;
    @include gradient(135deg, $list4);
    .border{
     @include title-underline;
     padding-bottom:20px;
     }
     h1{
         margin-bottom:10px;
     }
     p{
         width: 215px;
         padding-bottom: 20px;
         @include margin-center;
         span{
             color:$brand-color;
         }
     }
    .styles-wrapper{
        position: relative;
             .gallery-arrow {
                 width: 30px;
                 height: 30px;
                 background-image: url("../images/slide-arrow-white.svg");
                 background-repeat: no-repeat;
             }  //  end of .gellery-arrow
             .arrow-left {
                 position: absolute;
                 left: 0;
                 top: 43%;
                 @include mq($phoneLandscape){
                     top:50%;
                 }
             }   //  end of .arrow-left
             .arrow-right{
                 transform: rotate(180deg);
                 position: absolute;
                 right: 0;
                 top: 43%;
                 @include mq($phoneLandscape){
                     top: 50%;
                 }
             }  //  end of .arrow-right
             .style-gallery{
                 padding: 0 30px;
                 .style-img {
                     width: 100%;
                     height: 300px;
                     @include bg-img;
                     @include margin-center;
                     }
                     .style1{
                         background-image: url(../images/product/product-model-01.jpg);
                     }
                     .style2{
                         background-image: url(../images/product/product-model-02.jpg);
                     }
                     .style3{
                         background-image: url(../images/product/product-model-03.jpg);
                     }
                         .style-img:nth-child(2),
                         .style-img:nth-child(3){
                             display:none; 
                             }
                             .style-img:nth-child(2){
                                 @include mq($phoneLandscape){
                                     display:block;
                                 }
                             }
                             .style-img:nth-child(3){
                                 @include mq($tabletLandscape){
                                     display:block;
                                 }
                             }

                       @include mq($phoneLandscape){
                             @include grid50;
                             grid-gap: 10px;
                             padding-bottom: 30px;

                         }   
                     @include mq($tabletLandscape){
                         grid-template-columns: repeat(3, 33%);
                      }          
              }  //  end of .style-gallery
    }   //  end of .styles-wrapper
    @include mq($phoneLandscape){
     padding-bottom:10px;
     }  
 }  //  end of .styles