//gls-choice styling
.gls-choice{
    padding: 0 $padding;
    .choice{
        width: 100%;
        height: 100px;
        line-height: 100px;
        background-color: $img-bg-color;
        @include margin-center;
        border-radius: $border-radius;
    }
    h2 {
        padding-left: $padding;
    }
}

//article styling
.article{
    .article-img{
        width:100%;
        height: 200px;
        background-color: $img-bg-color;
    }
    article{
        padding: 0 $padding;
    }
}

//customize styling
.customize{
    .gls-slide{
        width:100%;
        height: 250px;
        background-color: $img-bg-color;
    }
    .cstm-text{
        padding: 0 $padding;
    }
}

//benefits styling
    .benefits{
        padding: 0 $padding;
        h1, h2{
            text-align: center;
        }
        .benefit{
            padding: $padding/2 0;
        }
        .bf-icon{
            width:80px;
            height: 80px;
            @include margin-center;
            background-color: $img-bg-color;
        }
    }

//location styling
    .location{
        h1{
            text-align: center;
        }
        .location-img{
            width:100%;
            height: 200px;
            background-color: $img-bg-color;
        }
        .location-text{
            padding: 0 $padding;
        }
    }

//subscribe styling
    .subscribe{
        padding: 0 $padding $padding;
        h1{
            text-align: center;
        }
        .form-row{
            display: flex;
        }
        .email-group{
            width: 80%;
            input{
                width:82%;
                border-bottom: 2px solid black;
            }
        }
        .submit-group{ 
            input{
                background-color: black;
                color:white;
                border-radius: $border-radius/2;
            }
        }
    }