//gls-choice styling
.gls-choice{
    padding: 0 $padding;
    .choice{
        width: 100%;
        height: 100px;
        line-height: 100px;
        background-color: $img-bg-color;
        @include margin-center;
        border-radius: $border-radius;
    }
    h2 {
        padding-left: $padding;
    }
    @include mq($phoneLandscape){
        display: grid;
        padding-top: 30px;
        grid-template-columns: 300px 300px;
        grid-gap: 10px;
        justify-content: center;
        
         h2{
             margin: 0;
         }
         .choice{
             max-width:250px;
             height: 130px;
             line-height: 130px;
         }
        }
}

//article styling
.article{
    .article-img{
        width:100%;
        height: 200px;
        background-color: $img-bg-color;
    }
    article{
        padding: 0 $padding;
        h1{
            text-align: center;
        }
    }
    @include mq($phoneLandscape){
        display: flex;
    .article-img{
        width:50%;
        height: 400px; /*it should be 100% for bg-image*/
    }
    article{
        width:50%;
        padding: 20px 30px;
    }
    }
}

//customize styling
.customize{
    padding-bottom: $padding;
    .gls-slide{
        width:100%;
        height: 250px;
        background-color: $img-bg-color;
    }
    .cstm-text{
        padding: 0 $padding;
        @include mq($phoneLandscape){
            max-width: 500px;
            @include margin-center;
            padding: 30px;
             text-align: center;
        }
    }
    @include mq($tabletLandscape){
        display:flex;
    }
}

//benefits styling
    .benefits{
        padding: 0 $padding;
        h1, h2{
            text-align: center;
        }
        .benefit{
            padding: $padding/2 0;
        }
        .bf-icon{
            width:80px;
            height: 80px;
            @include margin-center;
            background-color: $img-bg-color;
        }
        @include mq($phoneLandscape){
          .benefits-wrapper{
            display: flex;
            .benefit{
                @include flex-center;
                h2{
                    font-size:1em;
                }
                p {
                    padding: 0px 20px;
                    margin-top: 0;
                }
            }
            }
        }
    }

//location styling
    .location{
        h1{
            text-align: center;
        }
        .location-img{
            width:100%;
            height: 200px;
            background-color: $img-bg-color;
        }
        .location-text{
            padding: 0 $padding;
        }
        @include mq($phoneLandscape){
            display: flex;
            padding-bottom:$padding;
            .location-img{
                width:50%;
                height: 330px;
            }
            .location-text{
                width:50%;
            }
        }
    }

//subscribe styling
    .subscribe{
        padding: 0 $padding $padding;
        border-bottom:1px solid black;
        h1{
            text-align: center;
        }
        .form-row{
            display: flex;
        }
        .email-group{
            width: 80%;
            border-bottom: 1px solid black;
            input:focus{
                width:82%;
                outline: none;
                border-bottom: 2px solid black;
            }
            #email{
                width:100%;
                border: 0;
            }
            
        }
        .submit-group{ 
            input{
                background-color: black;
                color:white;
                border-radius: $border-radius/2;
                margin-left:20px;
            }
        }
    }

//sns styling
.sns{
    .fab{
        font-size:1.5em;
        @include mq($phoneLandscape){
            padding-right: $padding/2;
        }
    }
    @include flex-layout-row;
    width: 60%;
    @include margin-center;
    padding-top: 30px;
}

//social-wrapper styling
.social-wrapper {
    @include mq($phoneLandscape){
   
    border-top:1px solid black;
    border-bottom:1px solid black;  
    .social-container{
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 1200px;
     @include margin-center;
     line-height: 1;
    }
    .sns{
        order:1;
        justify-content: flex-start;
        margin: 0;
        padding-left: $padding;
    }
    .subscribe{
        order:2;
        padding: 0 30px 20px;
        border-bottom: none;
        h1{
            font-size: 1em;
            text-align: left;
        }
    }
}
    
}