// Typography Styles
@import url("https://use.typekit.net/xhq6yxp.css");

// Temp.. need to move to variables

// Font Variables
$futura: 'Futura-pt', sans-serif;
$condor: 'Condor', sans-serif;
$century: 'century-gothic', sans-serif;
$letterspace: 0.4px; 
$hd-letterspace: 0.8px;

// Font Size
$title: 1.5em;

h1, h2 {
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: $futura;
    line-height: $line-height;
}

h1 {
    font-family: $condor;
    letter-spacing: $letterspace;
    font-weight: 500;
}

.subscribe {
    h1 {
        font-family: $futura;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: $hd-letterspace;
        font-size: 1em;
    }
}

.choice {
    h2 {
        font-family: $condor;
        font-weight: 500;
    }
}

// h1, h2, h3, nav a, table {
//     font-family: $heading-font;
// }

// a, input, p {
//     font-family: $futura;
//     letter-spacing: $letterspace;
// }

ul a {
    font-family: $futura;
    letter-spacing: $letterspace;
    font-weight: 400;
}

.gls-choice {
    p {
       text-align: center; 
    }
}



// @import url("https://use.typekit.net/xhq6yxp.css");
// $title-font: font;

// font-family: condor, sans-serif;
// font-weight: 400;
// font-style: normal;

// <<Futura PT Medium... body title font>>
// font-family: futura-pt, sans-serif;
// font-weight: 500;
// font-style: normal;


// <<Futura PT Book ... body p font >>
// font-family: futura-pt, sans-serif;
// font-weight: 400;
// font-style: normal;


// <<Century Gothic Pro Regular... banner sub title>>
// font-family: century-gothic, sans-serif;
// font-weight: 400;
// font-style: normal;

// label {
//     font-family: $heading-font;
// }
