// Typography Styles
body {
    font-family: $body-font;
    line-height: $line-height;
}

h1, h2, h3, nav a, table {
    font-family: $heading-font;
}

// Font Variables
$futura: 'Futura-pt', sans-serif;
$condor: 'Condor', sans-serif;
$century: 'century-gothic', sans-serif;
$letterspace: 0.3px; 


